<!-- <p>group-info works!</p> -->

<div>
  <form name="userInfoForm" #f="ngForm" novalidate (ngSubmit)="handleSubmit()">

    <div class="form-group row">
      Body
      <!-- <label [class.col-lg-3]="true" [class.col-lg-2]="!true" class="col-form-label"
        for="">{{'Group Name' | translate}}</label>
      <div [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
        <p class="form-control-plaintext">{{group.name}}</p>
      </div>
      <div [class.col-lg-9]="isViewOnly" [class.col-lg-10]="!isViewOnly">
        <input appAutofocus type="text" attr.id="joTitle" name="jobTitle" placeholder="Name"
          class="form-control" [(ngModel)]="group.name" />
      </div> -->
    </div>

  </form>
</div>